
<div class=" mt-28 lg:mt-36">

    <h3 class="text-center text-4xl font-medium text-[#FC2E2E]">Your Style Destinations</h3>
    <p class="text-center  pt-8 md:text-xl text-[#ffffffc4] leading-relaxed">we pride ourselves on being accessible and convenient for our customers</p>

</div>

<div class="container  ">
    <div class="card__container">
       <article class="card__article">
          <img src="../../../assets/image/insect-1.png" alt="image" class="card__img">

          <div class="card__data">
             <h3 class="card__title">Elegant <br> Queen Bee</h3>
             <span class="card__price">$5999</span>
          </div>

          <img src="../../../assets/image/bg-card.png" alt="image" class="card__bg">
          
          <a href="#" class="card__button">
             View More <i class="ri-arrow-right-line"></i>
          </a>
       </article>

       <article class="card__article">
          <img src="../../../assets/image/insect-2.png" alt="image" class="card__img">

          <div class="card__data">
             <h3 class="card__title">Mechanical Magic <br> Butterfly</h3>
             <span class="card__price">$3999</span>
          </div>

          <img src="../../../assets/image/bg-card.png"alt="image" class="card__bg">

          <a href="#" class="card__button">
             View More <i class="ri-arrow-right-line"></i>
          </a>
       </article>

       <article class="card__article">
          <img src="../../../assets/image/insect-3.png" alt="image" class="card__img">

          <div class="card__data">
             <h3 class="card__title">Wonderful <br> Flower Beetle</h3>
             <span class="card__price">$8999</span>
          </div>

          <img src="../../../assets/image/bg-card.png" alt="image" class="card__bg">

          <a href="#" class="card__button">
             View More <i class="ri-arrow-right-line"></i>
          </a>
       </article>
    </div>
 </div>

