<div class="mt-28 mb-0">
  <div class="flex justify-center">
    <div>
      <h5 class="text-4xl font-medium text-[#FC2E2E]">Exclusive Collections</h5>
    </div>
  </div>
  <p class="text-center pt-8 md:text-xl text-[#ffffffc4] leading-relaxed">
    we believe that every outfit tells a story. Our curated collection features a wide range of dresses that cater to every occasion.
  </p>
</div>

<div class="mt-9 lg:mt-12">
  <ngx-slick-carousel class="carousel" 
    #slickModal="slick-carousel" 
    [config]="slideConfig" 
    (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)"
    (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
      <img src="{{ slide.img }}" alt="" class="carousel-image">
    </div>
  </ngx-slick-carousel>
</div>
